body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color:#f8b178
}
  
  .topnav {
    
    background-color:#f8b178;
  }
  
  .topnav-left a {
    float: left;
    color:rgb(185, 150, 121);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:#ff751f;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .topnav-left a, .topnav-right a {
    display: inline-block; /* Ensures proper clickable area */
}
a {
    position: relative;
    z-index: 10;
}
  .container {
    position: relative;
    width: 96%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 80%; /* Lower value to move it up */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff751f;
    color: white;
    font-size: 30px;
    padding: 22px 44px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  .container .btn:hover {
    background-color: #f8b178
  }
